#container{
    height: 350px;
    width: 600px;
    background: linear-gradient(#e66465, #9198e5);
    margin-left: 30px;
    border-radius: 20px;
}
#container #buttons{
    text-align: center;
    margin-top: 100px;
}
#container label{
    display: inline;
    font-size: 40px;
    padding: 40px;
    color: wheat;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

#container button{
    width: 150px;
    height: 50px;
    background-color:#99deed;
    margin-left: 20px;
    border-radius: 50%;
    border: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
